
*{
    padding: 0;
    margin: 0;
}
#share{
	width: 150px;
	height: 400px;
	background: #f6f6f6;
	position: absolute;
	left: -150px;
}
#share{
    margin: 0;
}
#share ul li{
	list-style: none;
    background-color: #0C8484;
    text-align: center;
}
#share ul li a{
	text-decoration: none;
	color: #ffffff;
    line-height: 30px;
}
#share span{
	position: absolute;
	width: 20px;
	height: 90px;
	line-height: 30px;
	background: green;
	color: #ffffff;
	right: -20px;
	top: 105px;


}
