@charset "UTF-8";
html {
    font-style: normal;
    font-size: 62.5%;
    background-color: #cccccc;
}

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
    font-size: 3.5rem;
    line-height: 6rem;
}
.nav-reset{
    color: #dfc1fa;
}
.icon-btn{
    background: #d6b1fa url("img/icon-btn.png");
    background-position:-3px -1px;
}
.ul1 li a{
    color: black;
    background-color: #FFF;
    border: 2px solid #F6F6F6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.ul1 li a:hover{
    color: #FFFFFF;
    background-color: #1d7ad9;
}
.img-reset{
    display: inline-block;
}
.ul2 li{
    list-style-type: none;
    border: 1px solid #dfc1fa;
}
.ul2 li a{
    color: #080808;
    text-decoration: none;
}
.ul2 li a:hover{
    color: #449d44;
}
.ul2 li a:active{
    color: #dfc1fa;
}
.margin{
    margin-top: 5%;
    margin-bottom: 5%;
}
.foot {
    clear: both;

}
@media screen and (max-width: 480px) {
    html {
        font-size: 30%;
    }
}
